# README

## Introduction

This repository contains Python code for indexing and querying a dataset of tourist destinations using Pinecone, a vector database service. The dataset includes information about various destinations along with their categories and descriptions. Additionally, the code demonstrates how to use Sentence Transformers to create embeddings for textual data, facilitating similarity search within the dataset.

## Requirements

Before running the code, ensure you have the following dependencies installed:

- Python 3.x
- pandas
- sentence-transformers
- tqdm
- Pinecone


## Usage

1. Set up Pinecone: Obtain an API key from Pinecone and replace the placeholder in the code with your API key:

    ```python
    pc = Pinecone(api_key="YOUR_API_KEY_HERE")
    index = pc.Index("tourist-index")
    ```

2. Prepare the dataset: Modify the `dataset` variable to include the desired tourist destinations, categories, and descriptions.

3. Run the indexing code: Execute the Python script or Jupyter notebook containing the provided code snippets to index the dataset into Pinecone.

4. Perform queries: Use the `run_query` function to search for destinations based on a query.

## Functionality

1. **Dataset Indexing**: The code indexes a dataset of tourist destinations into Pinecone, associating each destination with its respective metadata and embedding.

2. **Text Embedding**: Sentence Transformers are utilized to generate embeddings for the textual descriptions of tourist destinations.

3. **Similarity Search**: Pinecone allows for efficient similarity search based on embeddings, enabling the retrieval of destinations similar to a given query.

## License

This code is provided under the [MIT License](LICENSE). Feel free to modify and distribute it according to your needs.

In [17]:
import warnings
warnings.filterwarnings('ignore')

In [18]:
dataset = [
{
  "destination": "Paris, France",
  "category": "Travel Guides",
  "text": "Welcome to Paris, the City of Light! Our travel guide will help you navigate this enchanting city, from iconic landmarks like the Eiffel Tower and Notre-Dame Cathedral to hidden gems in charming neighborhoods like Le Marais and Montmartre. Discover world-class museums such as the Louvre and Musée d'Orsay, indulge in delicious French cuisine at sidewalk cafes and Michelin-starred restaurants, and explore the scenic banks of the Seine River. Whether you're a first-time visitor or a seasoned traveler, Paris promises an unforgettable experience."
},
{
  "destination": "Tokyo, Japan",
  "category": "City Highlights",
  "text": "Experience the vibrant energy and cultural richness of Tokyo, Japan's bustling capital. Dive into the neon-lit streets of Shinjuku and Shibuya, where towering skyscrapers and bustling intersections define the city's modern landscape. Immerse yourself in traditional Japanese culture at historic sites like the Senso-ji Temple and Meiji Shrine, and explore the trendy districts of Harajuku and Akihabara for unique shopping and entertainment experiences. Tokyo's diverse culinary scene offers everything from sushi and ramen to izakaya and street food stalls, ensuring a feast for all the senses."
},
{
  "destination": "Barcelona, Spain",
  "category": "Local Attractions",
  "text": "Bienvenidos a Barcelona, a city brimming with culture, history, and architectural marvels. Marvel at the whimsical creations of Antoni Gaudí, including the towering Sagrada Familia and the colorful Park Güell. Wander through the narrow streets of the Gothic Quarter, where medieval buildings and Roman ruins tell the story of Barcelona's past. Relax on the sandy shores of Barceloneta Beach, sample tapas and paella at bustling markets and seaside cafes, and soak up the vibrant atmosphere of La Rambla, a bustling boulevard lined with street performers and local vendors."
},
{
  "destination": "Sydney, Australia",
  "category": "Dining Options",
  "text": "Indulge in a culinary journey through Sydney's diverse food scene, where fresh seafood, multicultural flavors, and innovative dining experiences await. Start your day with brunch at a trendy cafe in Surry Hills or Bondi Beach, then head to the iconic Sydney Fish Market to sample the freshest seafood straight from the ocean. For a taste of international cuisine, explore the vibrant neighborhoods of Chinatown and Newtown, where you'll find everything from authentic Asian dishes to Middle Eastern delights. End your evening with cocktails overlooking the Sydney Opera House or a gourmet dinner at one of the city's top restaurants."
},
{
  "destination": "Dubai, United Arab Emirates",
  "category": "Transportation Tips",
  "text": "Navigating Dubai's modern transportation network is easy and convenient, thanks to a variety of options that cater to every traveler's needs. Start your journey at Dubai International Airport, one of the busiest airports in the world, where you can easily connect to the city center via metro, bus, or taxi. Once in the city, explore Dubai's iconic landmarks and attractions using the efficient Dubai Metro, which connects major districts and tourist destinations. For a more leisurely experience, hop on a traditional abra (water taxi) to cross Dubai Creek or book a scenic dhow cruise along the city's coastline."
},
{
  "destination": "Rome, Italy",
  "category": "Attractions",
  "text": "Rome, the Eternal City, is brimming with ancient history and architectural wonders. Highlights include the Colosseum, Roman Forum, and Pantheon. Visitors can marvel at masterpieces by Michelangelo and Raphael in the Vatican Museums, explore the charming streets of Trastevere, and toss a coin into the Trevi Fountain for good luck. Don't miss out on sampling authentic Roman cuisine, such as pasta carbonara, gelato, and espresso."
},
{
"destination": "Bangkok, Thailand",
"category": "Local Attractions",
"text": "Discover the bustling streets and vibrant culture of Bangkok, Thailand's dynamic capital. Explore the historic temples and palaces, including the magnificent Grand Palace and the iconic Wat Arun. Dive into the lively markets of Chatuchak Weekend Market and Damnoen Saduak Floating Market, where you can shop for everything from local handicrafts to exotic fruits. Indulge in the city's renowned street food scene, sampling spicy tom yum soup, pad Thai noodles, and refreshing Thai iced tea. With its blend of ancient traditions and modern innovation, Bangkok offers an unforgettable experience for travelers."
},
{
"destination": "Dublin, Ireland",
"category": "City Highlights",
"text": "Experience the charm and hospitality of Dublin, Ireland's vibrant capital city. Explore the city's rich literary heritage at Trinity College's Old Library and the Dublin Writers Museum, home to works by James Joyce, Oscar Wilde, and Samuel Beckett. Discover the city's historic landmarks, including Dublin Castle, St. Patrick's Cathedral, and the Guinness Storehouse, where you can learn about Ireland's most famous beer. Immerse yourself in Dublin's lively pub culture, enjoying traditional Irish music sessions and hearty pub fare, and stroll along the banks of the River Liffey for picturesque views of the city skyline."
},
{
"destination": "Rio de Janeiro, Brazil",
"category": "Beaches",
"text": "Welcome to Rio de Janeiro, where the sun always shines and the beaches are endless. Relax on the golden sands of Copacabana and Ipanema beaches, where you can soak up the sun, swim in the crystal-clear waters, and sip caipirinhas from beachside kiosks. Take a stroll along the iconic Copacabana boardwalk, lined with palm trees and lively beach bars, or hike to the top of Sugarloaf Mountain for panoramic views of the city. Whether you're surfing in the waves, playing beach volleyball with the locals, or simply relaxing in the sunshine, Rio's beaches offer something for everyone."
},
{
"destination": "Berlin, Germany",
"category": "Cultural Highlights",
"text": "Experience the vibrant culture and history of Berlin, Germany's capital city. Explore the city's iconic landmarks, including the Berlin Wall, Brandenburg Gate, and Checkpoint Charlie, which offer insight into the city's turbulent past. Discover the thriving arts scene in neighborhoods like Kreuzberg and Friedrichshain, home to street art, galleries, and underground clubs. Immerse yourself in Berlin's culinary scene, sampling traditional German dishes like currywurst and schnitzel, as well as international cuisine from around the world. With its blend of history, art, and culture, Berlin offers a unique and unforgettable experience for travelers."
},
{
"destination": "London, United Kingdom",
"category": "Historical Sites",
"text": "Step back in time and explore the rich history of London, one of the world's most iconic cities. Visit historic landmarks like the Tower of London, Buckingham Palace, and Westminster Abbey, where you can trace the footsteps of kings, queens, and political leaders. Explore the city's world-class museums and galleries, including the British Museum, Tate Modern, and National Gallery, which showcase treasures from around the world. Wander through charming neighborhoods like Covent Garden and Notting Hill, where you'll find historic pubs, quaint cafes, and bustling markets. With its blend of ancient traditions and modern innovation, London offers a wealth of historical sites and cultural experiences for visitors to enjoy."
},
{
"destination": "Kuala Lumpur, Malaysia",
"category": "Local Cuisine",
"text": "Indulge in the diverse and flavorful cuisine of Kuala Lumpur, Malaysia's vibrant capital city. Explore the bustling street food stalls and markets of Jalan Alor and Petaling Street, where you can sample authentic Malaysian dishes like nasi lemak, roti canai, and satay. Discover the city's vibrant food scene, with influences from Malay, Chinese, Indian, and Indonesian cuisines, and indulge in delicious seafood, spicy curries, and fragrant rice dishes. Experience the city's eclectic dining scene, with everything from traditional hawker stalls and family-run eateries to upscale restaurants and rooftop bars offering panoramic views of the city skyline."
},

]

In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(dataset)

In [21]:
df

,destination,category,text
0,"Paris, France",Travel Guides,"Welcome to Paris, the City of Light! Our trave..."
1,"Tokyo, Japan",City Highlights,Experience the vibrant energy and cultural ric...
2,"Barcelona, Spain",Local Attractions,"Bienvenidos a Barcelona, a city brimming with ..."
3,"Sydney, Australia",Dining Options,Indulge in a culinary journey through Sydney's...
4,"Dubai, United Arab Emirates",Transportation Tips,Navigating Dubai's modern transportation netwo...
5,"Rome, Italy",Attractions,"Rome, the Eternal City, is brimming with ancie..."
6,"Bangkok, Thailand",Local Attractions,Discover the bustling streets and vibrant cult...
7,"Dublin, Ireland",City Highlights,Experience the charm and hospitality of Dublin...
8,"Rio de Janeiro, Brazil",Beaches,"Welcome to Rio de Janeiro, where the sun alway..."
9,"Berlin, Germany",Cultural Highlights,Experience the vibrant culture and history of ...
10,"London, United Kingdom",Historical Sites,Step back in time and explore the rich history...
11,"Kuala Lumpur, Malaysia",Local Cuisine,Indulge in the diverse and flavorful cuisine o...

In [29]:
from sentence_transformers import SentenceTransformer
import torch

embedding_model = SentenceTransformer('sentence-transformers/all-MiniLM-L6-v2')

In [30]:
def create_vector(query, n_results=3):
    
    return embedding_model.encode(query).tolist()

In [31]:
df['vector_text'] = df['text'].apply(lambda x: create_vector(x))

In [32]:
df.head()

,destination,category,text,metadata,vector_text
0,"Paris, France",Travel Guides,"Welcome to Paris, the City of Light! Our trave...","{'destination': 'Paris, France', 'category': '...","[0.06638321280479431, -0.010812507942318916, 0..."
1,"Tokyo, Japan",City Highlights,Experience the vibrant energy and cultural ric...,"{'destination': 'Tokyo, Japan', 'category': 'C...","[0.08071721345186234, 0.019941018894314766, 0...."
2,"Barcelona, Spain",Local Attractions,"Bienvenidos a Barcelona, a city brimming with ...","{'destination': 'Barcelona, Spain', 'category'...","[0.11467640101909637, 0.04118385538458824, -0...."
3,"Sydney, Australia",Dining Options,Indulge in a culinary journey through Sydney's...,"{'destination': 'Sydney, Australia', 'category...","[0.025011137127876282, -0.023744072765111923, ..."
4,"Dubai, United Arab Emirates",Transportation Tips,Navigating Dubai's modern transportation netwo...,"{'destination': 'Dubai, United Arab Emirates',...","[0.06218257546424866, -0.051191557198762894, 0..."

In [33]:
df['metadata'] = df[['destination','category', 'text' ]].apply(lambda row: row.to_dict(), axis=1)

In [34]:
df.head()

,destination,category,text,metadata,vector_text
0,"Paris, France",Travel Guides,"Welcome to Paris, the City of Light! Our trave...","{'destination': 'Paris, France', 'category': '...","[0.06638321280479431, -0.010812507942318916, 0..."
1,"Tokyo, Japan",City Highlights,Experience the vibrant energy and cultural ric...,"{'destination': 'Tokyo, Japan', 'category': 'C...","[0.08071721345186234, 0.019941018894314766, 0...."
2,"Barcelona, Spain",Local Attractions,"Bienvenidos a Barcelona, a city brimming with ...","{'destination': 'Barcelona, Spain', 'category'...","[0.11467640101909637, 0.04118385538458824, -0...."
3,"Sydney, Australia",Dining Options,Indulge in a culinary journey through Sydney's...,"{'destination': 'Sydney, Australia', 'category...","[0.025011137127876282, -0.023744072765111923, ..."
4,"Dubai, United Arab Emirates",Transportation Tips,Navigating Dubai's modern transportation netwo...,"{'destination': 'Dubai, United Arab Emirates',...","[0.06218257546424866, -0.051191557198762894, 0..."

In [23]:
from pinecone import Pinecone
from pinecone import ServerlessSpec, PodSpec
import os

pc = Pinecone(api_key=os.environ["PINECONE_API_KEY"])
index = pc.Index("tourist-index")

In [35]:
from tqdm import tqdm

batch_size = 1
for i in tqdm(range(0, len(df), batch_size)):
    i_end = min(i+batch_size,len(df))
    
    ids = [str(x) for x in range(i, i_end)]
    
    metadatas =  [df['metadata'][i]]
    
    embeddings = [df['vector_text'][i]]
    
    # create records list for upsert
    records = zip(ids, embeddings, metadatas)
    # upsert to Pinecone
    index.upsert(vectors=records)

100%|██████████| 12/12 [00:03<00:00,  3.88it/s]

In [36]:
index.describe_index_stats()

{'dimension': 384,
 'index_fullness': 0.00012,
 'namespaces': {'': {'vector_count': 12}},
 'total_vector_count': 12}

In [37]:
# small helper function so we can repeat queries later
def run_query(query):
    embedding = create_vector(query)
    results = index.query(top_k=3, vector=embedding, include_metadata=True, include_values=False)
    for result in results['matches']:
        print(f"{round(result['score'], 2)}: {result['metadata']['text']}")

In [38]:
run_query('I like to visit historical places what are my options?')

0.6: Step back in time and explore the rich history of London, one of the world's most iconic cities. Visit historic landmarks like the Tower of London, Buckingham Palace, and Westminster Abbey, where you can trace the footsteps of kings, queens, and political leaders. Explore the city's world-class museums and galleries, including the British Museum, Tate Modern, and National Gallery, which showcase treasures from around the world. Wander through charming neighborhoods like Covent Garden and Notting Hill, where you'll find historic pubs, quaint cafes, and bustling markets. With its blend of ancient traditions and modern innovation, London offers a wealth of historical sites and cultural experiences for visitors to enjoy.
0.43: Rome, the Eternal City, is brimming with ancient history and architectural wonders. Highlights include the Colosseum, Roman Forum, and Pantheon. Visitors can marvel at masterpieces by Michelangelo and Raphael in the Vatican Museums, explore the charming streets of Trastevere, and toss a coin into the Trevi Fountain for good luck. Don't miss out on sampling authentic Roman cuisine, such as pasta carbonara, gelato, and espresso.
0.42: Experience the vibrant culture and history of Berlin, Germany's capital city. Explore the city's iconic landmarks, including the Berlin Wall, Brandenburg Gate, and Checkpoint Charlie, which offer insight into the city's turbulent past. Discover the thriving arts scene in neighborhoods like Kreuzberg and Friedrichshain, home to street art, galleries, and underground clubs. Immerse yourself in Berlin's culinary scene, sampling traditional German dishes like currywurst and schnitzel, as well as international cuisine from around the world. With its blend of history, art, and culture, Berlin offers a unique and unforgettable experience for travelers.